<div class="container">
  <div class="title">Registration</div>
  <div class="content">
    <form [formGroup]="formGroup" #userform="ngForm" class="fancy-form">
      <div class="user-details">
        <div class="input-box">
          <span class="details">Full Name</span>
          <input type="text" placeholder="Enter your name" formControlName="firstname" required>
          <div *ngIf="f.firstname.invalid && (f.firstname.dirty || f.firstname.touched)">
            <div *ngIf="f.firstname.errors?.required" class=errormsg>
              Please enter name
            </div>
            <div *ngIf="f.firstname.errors?.maxlength" class=errormsg>
              Name must be less than 140 char
            </div>
            <div *ngIf="f.firstname.errors?.minlength" class=errormsg>
              Name must be more than 4 char
            </div>
          </div>
        </div>
        <div class="input-box">
          <span class="details">Last Name</span>
          <input type="text" placeholder="Enter your name" formControlName="lastname" required>
          <div *ngIf="f.lastname.invalid && (f.lastname.dirty || f.lastname.touched)">
            <div *ngIf="f.lastname.errors?.required" class=errormsg>
              Please enter name
            </div>
            <div *ngIf="f.lastname.errors?.maxlength" class=errormsg>
              Name must be less than 140 char
            </div>
            <div *ngIf="f.lastname.errors?.minlength" class=errormsg>
              Name must be more than 4 char
            </div>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Email</span>
          <input type="text" placeholder="Enter your email" formControlName="email" required>
          <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">
            <div *ngIf="f.email.errors?.required" class=errormsg>
              Please enter email
            </div>
            <div *ngIf="f.email.errors?.pattern" class=errormsg>
              Please Enter Valid Email
            </div>
          </div>
        </div>
        <div class="input-box">
          <span class="details">Password</span>
          <input type="text" placeholder="Enter your password" formControlName="password" required>
          <div *ngIf="f.password.invalid && (f.password.dirty || f.password.touched)">
            <div *ngIf="f.password.errors?.required" class=errormsg>
              Please enter password
            </div>
            <div *ngIf="f.password.errors?.pattern" class=errormsg>
              Please Enter Valid Password(At least one uppercase letter(A - Z),At least one numeric value(0-9),At least
              one special symbol,total length should be >=8)
            </div>
          </div>
        </div>
        <div class="input-box">
          <span class="details">Phone Number</span>
          <input type="text" placeholder="Enter your number" formControlName="mobile" required>
          <div *ngIf="f.mobile.invalid && (f.mobile.dirty || f.mobile.touched)">
            <div *ngIf="f.mobile.errors?.required" class=errormsg>
              Please enter mobile number
            </div>
            <div *ngIf="f.mobile.errors?.pattern" class=errormsg>
              Must be 10 digit
            </div>
          </div>
        </div>
        <div class="input-box">
          <span class="details">PAN Number</span>
          <input type="text" placeholder="Enter your pan number" formControlName="pannumber" required>
          <div *ngIf="f.pannumber.invalid && (f.pannumber.dirty || f.pannumber.touched)">
            <div *ngIf="f.pannumber.errors?.required" class=errormsg>
              Please enter PAN card number
            </div>
            <div *ngIf="f.pannumber.errors?.pattern" class=errormsg>
              Please enter valid PAN number
            </div>
          </div>
        </div>

        <div class="input-box">
          <span class="details">Address</span>
          <input type="text" placeholder="Address" formControlName="addressline" required>
          <div *ngIf="f.addressline.invalid && (f.addressline.dirty || f.addressline.touched)">
            <div *ngIf="f.addressline.errors?.required" class=errormsg>
              Please enter Address
            </div>
          </div>
        </div>
        <div class="input-box">
          <span class="details">Date Of Birth</span>
          <input type="date" placeholder="birthday" formControlName="dateofbirth" required>
          <div *ngIf="f.dateofbirth.invalid && (f.dateofbirth.dirty || f.dateofbirth.touched)">
            <div *ngIf="f.dateofbirth.errors?.required" class=errormsg>
              Please Select DOB
            </div>
          </div>

        </div>
      </div>
      <div class="gender-details">
        <input type="radio" value="male"  formControlName="radioexample" id="dot-1">
        <input type="radio" value="female"  formControlName="radioexample" id="dot-2">
        <input type="radio" value="Prefer not to say"  formControlName="radioexample" id="dot-3">
        <div *ngIf="f.radioexample.invalid && (f.radioexample.dirty || f.radioexample.touched)">
          <div *ngIf="f.radioexample.errors?.required" class=errormsg>
            Please enter Address
          </div>
        </div>

        <span class="gender-title">Gender</span>
        <div class="category">
          <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
          </label>
        </div>
      </div>
      <div class="file">
        <span>Choose File</span><br><br>
        <input type="file" formControlName="Fileinput">
        <div *ngIf="f.Fileinput.invalid && (f.Fileinput.dirty || f.Fileinput.touched)">
          <div *ngIf="f.Fileinput.errors?.required" class=errormsg>
            Please select file
          </div>
        </div>
      </div>


      <div class="button">
        <button class="btn btn-primary"  (click)="submit()" [disabled]="userform.invalid">Submit</button>
      </div>
     
    </form>
  </div>
</div>